################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pico_sim_vs/.vs/pico_sim_vs
/tmp

/pico_sim_vs/.vs
/pico_sim_vs/pico_sim_vs/x64
/pico_sim_vs/x64
/pico_sim_vs/pico_sim_vs/Debug
/pico_sim_vs/pico_sim_vs/Release
/pico_sim_vs/Debug
/pico_sim_vs/Release
/pico_sim_vs/pico_sim_vs.vcxproj.user
/src/pico_sim_old.c
/c4_demo/x64
/pico_sim_vs/c4_demo/x64
/c4_lib/x64
/doc/draft.txt
/doc/draft.xml
/doc/tracker.log
/pico_sim_vs/c4_demo/x64
